COMPOSE_PROFILES=dev

DB_USER=pr_user
DB_PASSWORD=pr_password
DB_NAME=pr_db
DB_HOST=db

TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=pull_request_test
TEST_DB_HOST=db-test

PORT=8080

BASE_URL=http://localhost:8081